*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fonts:
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Architects Daughter', cursive;
*/


body {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 16px;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 30px;
  margin-bottom: 0;
  font-weight: 600;
}

#todo-text {
  font-size: 25px;
  padding-left: 3%;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.count {
  font-family: 'Poppins', sans-serif;
}

input {
  border-radius: 5px;
  border: 2px solid #000000;
  background-color: #FFC95C;
  font-family: 'Architects Daughter', cursive;
  font-weight: 200;
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  border: none;
}

ul {
  list-style-type: none;
  border: 0;
  padding: 0;
  background-color: white;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}


li {
  text-align: left;
  border-radius: 5px;
  border: 0;
  overflow: hidden;
  height: 50px;
  margin-top: 15px;
  padding: 5px;
  padding-left: 25px;
  background-color: #CEDEDE;
  color: #545F64;
  font-size: 1.5em;
  line-height: 1.5;
  box-shadow: 
    3px 3px 4px 0 #5A8787,
    -2px -2px 3px 1px #D4D4D8;
}

.task-comp {
  text-decoration: line-through;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  align-items: center;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.5em;
  float: right;
  border: none;
  height: 30px;
  cursor: pointer;
  background-color: #D93030;
  color: white;
  font-size: 0.5em;
  box-shadow: 
    3px 3px 4px 0 #5A8787,
    -2px -2px 3px 0 #ffffff;
}

li button:hover {
  background-color: #9E2605;
}

.comp-btn {
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.5em;
  float: right;
  border: none;
  height: 30px;
  cursor: pointer;
  background-color: #7CB518;
  color: white;
  font-size: 0.5em;
  box-shadow: 
    3px 3px 4px 0 #5A8787,
    -2px -2px 3px 0 #ffffff;
}

.comp-btn:hover {
  background-color: #5C8001;
}

.count {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.todos {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
};

footer {
margin-top: 150px;  
}
